html, body {
  margin: 0;
  padding: 0;
}
.about-marquee{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  overflow: hidden;
  padding-bottom: 1px;
  box-sizing: border-box;

}