/* Hide carousel on large screens */
.carousel-wrapper {
  display: none;
}

.about-marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}

/* Media query for mobile screens */
/* @media (max-width: 768px) {
  .carousel-wrapper {
    display: block;
  }

  .about-marquee {
    display: none;
  }
} */
