.faq-wrapper {
  padding: 4rem 2rem;
  min-height: 100vh;
  position: relative;
  color: #000;
  overflow: hidden;
  background-image: url('https://i.pinimg.com/736x/30/24/a9/3024a9c76ff279250a602dfabfebfa57.jpg');
  background-repeat: no-repeat;
}


.faq {
  max-width: 1200px;
  margin: 0 auto;
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.faq-left img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
.faq-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.faq-line{
  font-size: 1rem;
  font-weight: bolder;
}
.faq-right {
  flex: 1;
  min-width: 300px;
}

.faq-items {
  margin-top: 1rem;
}

.faq-item {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.faq-question {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question .icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.faq-answer {
  margin-top: 0.5rem;
  line-height: 1.5;
  overflow: hidden;
}

/* Responsive */
@media (max-width: 768px) {
  .faq-content {
    flex-direction: column;
  }

  .faq-left img {
    max-width: 100%;
  }
}
