.horizontal-scroll-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 0;
  gap: 1rem;
  scroll-behavior: smooth;
}

.scroll-card {
  flex: 0 0 auto;
  width: 300px;
  min-width: 250px;
  border-radius: 10px;
  background-color: #1a1a1a; /* Dark background */
  color: white;
  border: none;
}


/* Optional: Hide scrollbar for better look */
.horizontal-scroll-cards::-webkit-scrollbar {
  display: none;
}
.horizontal-scroll-cards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Make the h2 span white */
h2 span {
  color: black;
}

/* Make pooja title white */
.card-title {
  color: white;
}

/* Make pooja description white */
.card-text {
  color: white;
}
.card {
  /* background-color: #1a1a1a; Dark background */
  border: none;
}
.text-muted {
  color: #ccc !important;
}
@media screen and (min-width: 768px) {
  .horizontal-scroll-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    gap: 1.5rem;
    overflow: visible;
  }

  .scroll-card {
    width: 100%;
    min-width: unset;
  }
}